<div class="container">

      <h3>Usuarios
      <table class='table'>
          <tr>
              <th>ID
              <th>Nombre
              <th>Apellidos
              <th>Email
              <th>
              <th>
              <th>
          </tr>
          <% _.each(users, function(user) { %>
          <tr data-id="<%= user.id %>" data-model="user">
              <td><%= user.id %>
              <td><%= user.username %>
              <td><%= user.lastname %>
              <td><%= user.email %>
              <td><a href="/user/show/<%= user.id %>" class="btn btn-sm btn-primary">Show</a>
              <td><a href="/user/edit/<%= user.id %>" class="btn btn-sm btn-warning">Edit</a>
            <td><form action="/user/destroy/<%= user.id %>" method="POST">
                      <input type="hidden" name="_method" value="delete"/>
                      <input type="submit" class="btn btn-sm btn-danger" value="Delete"/>
                      <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                  </form>
              </td>
          </tr>
          <% }) %>
      </table>
      <a href="/user/new">Crear Nuevo Usuario</a>

<hr />
    <div ng-app="" ng-init="nombre='Paco';cantidad=1;precio=50;apellidos='García Fernández';coche={marca:'FORT',modelo:'FIESTA 2017'}" >

        <p>El nombre es: {{ nombre }}</p>f
        <p>Mi primera expresion: {{ 5 + 5 }}</p>
        <p>Total en euros: {{ cantidad * precio }}</p>
        <p>Total en euros: <span ng-bind="cantidad * precio"></span>, con ng-bind</p>
        <p>El nombre es <span ng-bind="nombre + ' ' + apellidos" span=""></span></p>
        <span ng-bind="coche.marca+ ' ' + coche.modelo"></span>

    </div>

      </div>
