<div class="container">
	<h3>Usuario guardado
      <table class='table'>
          <tr data-id="<%= userTest.id %>" data-model="userTest">
              <td><%= userTest.id %>
              <td><%= userTest.name %>
              <td><%= userTest.lastname %>
              <td><%= userTest.email %>
          </tr>
      </table>
      <a href="/usertest/index">Ver todos los usuarios</a>
  <hr />
</div>